In [97]:
import requests  
import pandas as pd  
import json  
import time  
from jikanpy import Jikan
import numpy as np

from sklearn.metrics.pairwise import cosine_similarity


from sklearn.feature_extraction.text import CountVectorizer

In [47]:
df.columns

Index(['anime_id', 'Name', 'Score', 'Genres', 'Synopsis', 'Type', 'Episodes',
       'Members'],
      dtype='object')

In [59]:
df_main = pd.read_csv('anime-dataset-2023.csv')

In [48]:
df = pd.read_csv('anime-dataset-2023.csv')[['anime_id', 'Name', 'Score', 'Genres', 'Type', 'Episodes']]
df

,anime_id,Name,Score,Genres,Synopsis,Type,Episodes,Members
0,1,Cowboy Bebop,8.75,"Action, Award Winning, Sci-Fi","Crime is timeless. By the year 2071, humanity ...",TV,26.0,1771505
1,5,Cowboy Bebop: Tengoku no Tobira,8.38,"Action, Sci-Fi","Another day, another bounty—such is the life o...",Movie,1.0,360978
2,6,Trigun,8.22,"Action, Adventure, Sci-Fi","Vash the Stampede is the man with a $$60,000,0...",TV,26.0,727252
3,7,Witch Hunter Robin,7.25,"Action, Drama, Mystery, Supernatural",Robin Sena is a powerful craft user drafted in...,TV,26.0,111931
4,8,Bouken Ou Beet,6.94,"Adventure, Fantasy, Supernatural",It is the dark century and the people are suff...,TV,52.0,15001
...,...,...,...,...,...,...,...,...
24900,55731,Wu Nao Monu,UNKNOWN,"Comedy, Fantasy, Slice of Life",No description available for this anime.,ONA,15.0,0
24901,55732,Bu Xing Si: Yuan Qi,UNKNOWN,"Action, Adventure, Fantasy",No description available for this anime.,ONA,18.0,0
24902,55733,Di Yi Xulie,UNKNOWN,"Action, Adventure, Fantasy, Sci-Fi",No description available for this anime.,ONA,16.0,0
24903,55734,Bokura no Saishuu Sensou,UNKNOWN,UNKNOWN,A music video for the song Bokura no Saishuu S...,Music,1.0,0
24904,55735,Shijuuku Nichi,UNKNOWN,UNKNOWN,A music video for the song Shijuuku Nichi by S...,Music,1.0,0

In [49]:
list_columns = [x for x in df.columns]
list_unique = []
for x in df.columns:
    y = df[x].unique()
    list_unique.append(y)

df_unique = pd.DataFrame(list_columns)
df_unique['unqiue']=list_unique
df_unique

          0                                             unqiue
0  anime_id  [1, 5, 6, 7, 8, 15, 16, 17, 18, 19, 20, 21, 22...
1      Name  [Cowboy Bebop, Cowboy Bebop: Tengoku no Tobira...
2     Score  [8.75, 8.38, 8.22, 7.25, 6.94, 7.92, 8.0, 7.55...
3    Genres  [Action, Award Winning, Sci-Fi, Action, Sci-Fi...
4  Synopsis  [Crime is timeless. By the year 2071, humanity...
5      Type     [TV, Movie, OVA, Special, ONA, Music, UNKNOWN]
6  Episodes  [26.0, 1.0, 52.0, 145.0, 24.0, 74.0, 220.0, UN...
7   Members  [1771505, 360978, 727252, 111931, 15001, 17768...

Dropping anime with unknow scores

In [54]:
for x in df.columns:
    df[df[x]=='UNKNOWN']
    df[x].replace('UNKNOWN', value = np.nan, inplace=True)

C:\Users\User\AppData\Local\Temp\ipykernel_19756\4121575369.py:3: FutureWarning: A value is trying to be set on a copy of a DataFrame or Series through chained assignment using an inplace method.
The behavior will change in pandas 3.0. This inplace method will never work because the intermediate object on which we are setting values always behaves as a copy.

For example, when doing 'df[col].method(value, inplace=True)', try using 'df.method({col: value}, inplace=True)' or df[col] = df[col].method(value) instead, to perform the operation inplace on the original object.


  df[x].replace('UNKNOWN', value = np.nan, inplace=True)

In [55]:
df.isna().sum()

anime_id       0
Name           0
Score          0
Genres      1753
Synopsis       0
Type           1
Episodes      88
Members        0
dtype: int64

Dropping all missing values

In [56]:
df.dropna(inplace=True)

In [57]:
df.shape

(13852, 8)

In [72]:
df.columns

Index(['anime_id', 'Name', 'Score', 'Genres', 'Synopsis', 'Type', 'Episodes',
       'Members'],
      dtype='object')

In [277]:
df.to_csv('anime-gg.csv')

# Recc

In [ ]:
df['Genres'] = df['Genres'].fillna('')  # Fill NaN values with empty string


# Create a CountVectorizer object
cv = CountVectorizer(tokenizer= lambda x: x.split(', '))

# Fit and transform the combined genre and type column
genre_matrix = cv.fit_transform(df['Genres'])

# Get the feature names (genres and types)
genre_names = cv.get_feature_names_out()

# Create a DataFrame with genre and type counts, using anime_id as the index
genre_df = pd.DataFrame(genre_matrix.toarray(), columns=genre_names, index=df['anime_id']).reset_index()

genre_df



# Create a CountVectorizer object
cv = CountVectorizer(tokenizer= lambda x: x.split(', '))

# Fit and transform the combined genre and type column
type_matrix = cv.fit_transform(df['Type'])

# Get the feature names (genres and types)
type_names = cv.get_feature_names_out()

# Create a DataFrame with genre and type counts, using anime_id as the index
type_df = pd.DataFrame(type_matrix.toarray(), columns=type_names, index=df['anime_id']).reset_index()

type_df

c:\Users\User\Documents\anime-recommendation-app\venv\Lib\site-packages\sklearn\feature_extraction\text.py:517: UserWarning: The parameter 'token_pattern' will not be used since 'tokenizer' is not None'
  warnings.warn(

,anime_id,action,adventure,avant garde,award winning,boys love,comedy,drama,ecchi,erotica,...,gourmet,hentai,horror,mystery,romance,sci-fi,slice of life,sports,supernatural,suspense
0,1,1,0,0,1,0,0,0,0,0,...,0,0,0,0,0,1,0,0,0,0
1,5,1,0,0,0,0,0,0,0,0,...,0,0,0,0,0,1,0,0,0,0
2,6,1,1,0,0,0,0,0,0,0,...,0,0,0,0,0,1,0,0,0,0
3,7,1,0,0,0,0,0,1,0,0,...,0,0,0,1,0,0,0,0,1,0
4,8,0,1,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,1,0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
13847,55289,1,1,0,0,0,1,0,0,0,...,0,0,0,0,0,0,0,0,0,0
13848,55315,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
13849,55339,1,0,0,0,0,1,0,0,0,...,0,0,0,0,0,0,0,0,0,0
13850,55355,1,0,0,0,0,1,0,0,0,...,0,0,0,1,0,0,0,0,0,0
13851,55647,1,1,0,0,0,1,0,0,0,...,0,0,0,0,0,0,0,0,0,0

In [110]:


# Create a CountVectorizer object
cv = CountVectorizer(tokenizer= lambda x: x.split(', '))

# Fit and transform the combined genre and type column
type_matrix = cv.fit_transform(df['Type'])

# Get the feature names (genres and types)
type_names = cv.get_feature_names_out()

# Create a DataFrame with genre and type counts, using anime_id as the index
type_df = pd.DataFrame(type_matrix.toarray(), columns=type_names, index=df['anime_id']).reset_index()

type_df

c:\Users\User\Documents\anime-recommendation-app\venv\Lib\site-packages\sklearn\feature_extraction\text.py:517: UserWarning: The parameter 'token_pattern' will not be used since 'tokenizer' is not None'
  warnings.warn(

       anime_id  movie  music  ona  ova  special  tv
0             1      0      0    0    0        0   1
1             5      1      0    0    0        0   0
2             6      0      0    0    0        0   1
3             7      0      0    0    0        0   1
4             8      0      0    0    0        0   1
...         ...    ...    ...  ...  ...      ...  ..
13847     55289      0      0    0    0        1   0
13848     55315      0      0    0    1        0   0
13849     55339      0      0    0    0        1   0
13850     55355      0      0    1    0        0   0
13851     55647      0      0    0    0        1   0

[13852 rows x 7 columns]

## Modelling

In [275]:
genre_type_cosine = genre_df.merge(type_df).drop(columns='anime_id')
genre_type_df = genre_df.merge(type_df)
genre_type_cosine_matrix = cosine_similarity(genre_type_cosine)  
cosine_df = pd.DataFrame(genre_type_cosine_matrix, index=genre_type_df['anime_id']) 

# Target Value
target = df[df['Name']=='Cowboy Bebop']
target_id =int(target[['anime_id']].values)

df_target = genre_type_df[genre_type_df['anime_id']==target_id]
df_target

# Target cosine with others
cosine_sim = cosine_similarity(df_target.drop(columns='anime_id'), genre_type_cosine)
cosine_sim_df = pd.DataFrame(cosine_sim).transpose().sort_values(0, ascending=False).rename(columns = {0:'Compatibility Score'})


#Getting anime id based off index
list_recommended_index = cosine_sim_df.index.tolist() # Exclude first one cos its the anime itself

recc_list = genre_type_df.iloc[list_recommended_index]['anime_id'].values.tolist()
cosine_sim_df['anime_id'] = recc_list


df_reccomended = df.iloc[list_recommended_index][df['anime_id']!=target_id]
df_final = df_reccomended.merge(cosine_sim_df)

df_final.head(20)

C:\Users\User\AppData\Local\Temp\ipykernel_19756\2693551619.py:8: DeprecationWarning: Conversion of an array with ndim > 0 to a scalar is deprecated, and will error in future. Ensure you extract a single element from your array before performing this operation. (Deprecated NumPy 1.25.)
  target_id =int(target[['anime_id']].values)
C:\Users\User\AppData\Local\Temp\ipykernel_19756\2693551619.py:25: UserWarning: Boolean Series key will be reindexed to match DataFrame index.
  df_reccomended = df.iloc[list_recommended_index][df['anime_id']!=target_id]

,anime_id,Name,Score,Genres,Synopsis,Type,Episodes,Members,Compatibility Score
0,467,Koukaku Kidoutai: Stand Alone Complex,8.42,"Action, Award Winning, Sci-Fi","In the not so distant future, mankind has adva...",TV,26.0,385010,1.000000
1,35847,SSSS.Gridman,7.12,"Action, Award Winning, Sci-Fi",Yuuta Hibiki wakes up in the room of Rikka Tak...,TV,12.0,285533,1.000000
2,2001,Tengen Toppa Gurren Lagann,8.63,"Action, Adventure, Award Winning, Sci-Fi",Simon and Kamina were born and raised in a dee...,TV,27.0,1547735,0.894427
3,43229,Godzilla: S.P,6.65,"Action, Award Winning, Mystery, Sci-Fi","This series features an original story, which ...",TV,13.0,64122,0.894427
4,2904,Code Geass: Hangyaku no Lelouch R2,8.91,"Action, Award Winning, Drama, Sci-Fi","One year has passed since the Black Rebellion,...",TV,25.0,1699634,0.894427
5,3572,Macross F,7.89,"Action, Award Winning, Romance, Sci-Fi",Following a catastrophic war against a race of...,TV,25.0,143564,0.894427
6,1575,Code Geass: Hangyaku no Lelouch,8.7,"Action, Award Winning, Drama, Sci-Fi","In the year 2010, the Holy Empire of Britannia...",TV,25.0,2151722,0.894427
7,50678,Kyoukai Senki Part 2,6.52,"Action, Sci-Fi",Second part of Kyoukai Senki.,TV,12.0,12727,0.866025
8,1465,Hakaima Sadamitsu,6.82,"Action, Sci-Fi","Sadamitsu, a high-school delinguents turned to...",TV,10.0,5791,0.866025
9,4929,Next Senki Ehrgeiz,5.34,"Action, Sci-Fi",Earth started space colonization by creating t...,TV,12.0,1712,0.866025
10,51773,KJ File,4.85,"Action, Sci-Fi",The story is set in a world where unique kaiju...,TV,13.0,8196,0.866025
11,50559,Megaton-kyuu Musashi 2nd Season,6.41,"Action, Sci-Fi",Second season of Megaton-kyuu Musashi.,TV,15.0,3510,0.866025
12,33737,Megaton-kyuu Musashi,6.23,"Action, Sci-Fi","In an ordinary town, there are people who live...",TV,13.0,14216,0.866025
13,1693,Reideen,6.51,"Action, Sci-Fi",Saiga is a normal high school student with a g...,TV,26.0,8734,0.866025
14,5395,Nekketsu Saikyou Go-Saurer,7.23,"Action, Sci-Fi",The Kikaika (literally mechanization) Empire i...,TV,51.0,1507,0.866025
15,1603,Super Robot Taisen OG: Divine Wars,6.79,"Action, Sci-Fi",It is two hundred years after the beginning of...,TV,25.0,7815,0.866025
16,12951,AWOL,5.32,"Action, Sci-Fi",Cyress is a peaceful place. People are going a...,TV,12.0,1386,0.866025
17,15863,Ginga Kikoutai Majestic Prince,7.33,"Action, Sci-Fi","In the latter half of 21st century, humans lea...",TV,24.0,54469,0.866025
18,15795,Beast Saga,5.52,"Action, Sci-Fi",Beast Saga takes place on a distant planet in ...,TV,38.0,1630,0.866025
19,50871,Alice Gear Aegis Expansion,5.8,"Action, Sci-Fi","Centuries ago, mankind abandoned planet Earth ...",TV,12.0,7797,0.866025